.container{
    position: relative;
    padding-bottom: 40px;
}

.sc-visual{
    margin-bottom: 20px;
    .swiper{
        position: relative;
    }
    .pagination{
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        display: flex;
        padding: 10px;
        a{
            display: block;
            width: 8px;
            height: 8px;
            background-color: #000;
            opacity: .25;
            border-radius: 50%;
            margin: 0 6px;
            &:hover{
                opacity: 1;
            }
        }
    }
}

.sc-type1{
    padding: 20px 0;
    .group-flex3{
        .current-sale{}
        .product-name{
            margin-top: 2px;
            font-size: 16px;
            line-height: 160%;
        }
        .price{
            font-size: 14px;
            span{
                font-size: 20px;
                line-height: 50px;
            }
        }
    }
    .group-flex4{
        padding-top: 20px;
        .current-sale{
            font-size: 12px;
            line-height: 150%;
        }
        .product-name{
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 150%;
        }
        .price{
            font-size: 12px;
            line-height: 150%;
            span{
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    .product-list{
        display: flex;
        justify-content: space-between;
    }
    .product-item{
        width: calc((100% - 40px) / 3);
    }
}

.sc-type2{
    padding: 20px 0;
    .group-flex5{}
    .product-list{
        display: flex;
        justify-content: space-between;
    }
    .product-item{
        width: calc((100% - 20px) / 2);
    }
    .current-sale{
        font-size: 13px;
        line-height: 160%;
    }
    .product-name{
        margin: 2px 0 5px 0;
        font-size: 14px;
        line-height: 160%;
    }
    .price{
        font-size: 13px;
        line-height: 160%;
        span{
            font-size: 18px;
            line-height: 18px;
        }
    }
}

.banner-area{
    padding: 20px 0;
}

.sc-type3{
    padding: 20px 0;
    .group-flex6{}
    .product-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .product-item{
        width: calc((100% - 20px) / 2);
        &:nth-child(n+3){
            margin-top: 20px;
        }
    }
    .current-sale{
        font-size: 13px;
        line-height: 160%;
    }
    .product-name{
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 160%;
    }
    .price{
        font-size: 13px;
        line-height: 160%;
        span{
            font-size: 18px;
            line-height: 18px;
        }
    }
}

.sc-type4{
    .product-name{
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 160%;
    }
    .price{
        font-size: 14px;
        line-height: 160%;
        span{
            font-size: 20px;
            line-height: 150%;
        }
        del{
            color: $colors-gray6;
        }
    }
    .current-sale{
        color: $colors-coral100;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
    }
}

.sc-type5{
    padding: 20px 0;
    .group-flex6{}
    .product-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .product-item{
        width: calc((100% - 40px) / 3);
        &:nth-child(n+4){
            margin-top: 20px;
        }
    }
    .product-name{
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 150%;
    }
    .price{
        font-size: 12px;
        line-height: 150%;
        span{
            font-size: 18px;
            line-height: 18px;
        }
    }
    .current-sale{
        font-size: 12px;
        line-height: 150%;
    }
}

.sc-recipe{
    padding: 20px 0;
    .swiper-slide{
        a{
            position: relative;
        }
        img{
            width: 100%;
        }
    }
    .dim{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 24px;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
    .info-box{
        position: absolute;
        bottom: 24px;
        left: 20px;
        color: $colors-white;
    }
    .recipe-tit{
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
    }
    .id,
    .more{
        font-size: 16px;
        line-height: 160%;
    }
}