.sc-visual{
    margin-bottom: 20px;
    .swiper{
        position: relative;
    }
    .pagination{
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        display: flex;
        padding: 10px;
        a{
            display: block;
            width: 8px;
            height: 8px;
            background-color: #000;
            opacity: .25;
            border-radius: 50%;
            margin: 0 6px;
            &:hover{
                opacity: 1;
            }
        }
    }
}

.sc-type1{
    .group-flex3{
        padding-bottom: 20px;
        .current-sale{}
        .product-name{
            margin-top: 2px;
            font-size: 16px;
            line-height: 160%;
            color: $colors-gray8;
            font-weight: 500;
        }
        .price{
            font-size: 14px;
            span{
                font-weight: 700;
                font-size: 20px;
                line-height: 50px;
                color: $colors-gray8;
            }
        }
    }
    .group-flex4{
        .current-sale{
            color: $colors-coral100;
            font-size: 12px;
            line-height: 150%;
            font-weight: 700;
            del{
                color: $colors-gray6;
                font-weight: 400;
            }
        }
        .product-name{
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 150%;
            color: $colors-gray8;
            font-weight: 500;
        }
        .price{
            font-size: 12px;
            line-height: 150%;
            span{
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                color: $colors-gray9;
                margin-right: 2px;
            }
        }
    }
    .product-list{
        display: flex;
        justify-content: space-between;
    }
    .product-item{
        width: calc((100% - 40px) / 3);
    }
}